<div class="dashboard-container">
  <div class="sidebar">
    <div class="user-profile">
      <div class="avatar">
        <img [src]="avatarUrl" alt="User Avatar" />
      </div>
      <div class="user-info">
        <h3 class="welcome-message">Welcome, {{ userProfile?.username }}</h3>
        <!-- <p class="fullname">Fullname: {{ userProfile?.fullName }}</p> -->
      </div>
    </div>
  </div>

  <div class="main-content">
    <h2>Play a Game of Creating Sentences</h2>
    <div class="sentence-builder">
      <div class="word-types">
        <h3>Pick a Word from Word Types</h3>
        <ul>
          <li *ngFor="let wordType of wordTypes">
            <button (click)="selectWord(wordType)">
              {{ wordType.name }}
            </button>
          </li>
        </ul>
      </div>

      <!-- Display the selected words -->
      <div class="selected-words">
        <h3>Selected Words:</h3>
        <ul>
          <li *ngFor="let wordType of wordTypes">
            {{ wordType.name }}: {{ selectedWords[wordType.name] }}
            <button (click)="removeWord(wordType)">Remove</button>
          </li>
        </ul>
      </div>

      <div class="preview-sentence">
        <h3>Preview Sentence</h3>
        <p>{{ getPreviewSentence() }}</p>
      </div>
    </div>
    <div class="sentence-actions">
      <button (click)="addWordToSentence()">Add Word</button>
      <button (click)="submitSentence()">Submit Sentence</button>
    </div>
    <div class="sentence-sections">
      <div class="final-sentence">
        <h3>Final Sentence</h3>
        <p>{{ sentence }}</p>
      </div>
      <div class="all-sentences">
        <h3>All Sentences</h3>
        <ul>
          <li *ngFor="let sentence of sentences">{{ sentence }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
